@{
    @model UserRegistrationForm.Models.User
}
<p></p>
<h3>Welcome @Html.DisplayFor(model => model.Firstname)</h3>

<p>You're now in the cool kids club!</p>

<h3>Your personal information:</h3>

<p>Your birthday is @Html.DisplayFor(model => model.Birthday)</p>
<p>Your email is @Html.DisplayFor(model => model.Email).</p>
<p>Your phone is @Html.DisplayFor(model => model.Phone).</p>
<p>Your favorite color is @Html.DisplayFor(model => model.Color).</p>
<p>Your favorite animal is a @Html.DisplayFor(model => model.Animal).</p>

<p>We just need your bank account information, your ss #, and then we can sell your data.</p>
<p><b>Go waste more of your time by playing PONG!</b></p>

<canvas id="canvas" width="600" height="400" tabindex="1"></canvas>

<script src='../Scripts/ponggame.js'></script>